@model ExpirationDate.Models.Entitys.Item
@inject ExpirationDate.Resources.SharedLocalizationService sharedLocalizer

@{
    ViewData["Title"] = Model.Name;
}
<div class="container-details">
    <div class="dropdown buttons-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="@Url.Action("UserItems", "Item")">@sharedLocalizer["Button.Back"]</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Edit", "Item", new { id = Model.ItemId })">@sharedLocalizer["Button.Edit"]</a></li>
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">@sharedLocalizer["Button.Delete"]</a></li>
        </ul>
    </div>

    <div class="container-tb">
        <div class="item-details">
            <p>
                <b>@Model.Name</b>
            </p>            
            <img src="@Model.ImagePath" alt="@Model.Name" style="width: 300px; height: 300px;" />
            <div>
                <b>@sharedLocalizer["CreatePage.Description"]:</b>
                <p>@Model.Description</p>
            </div>
            <div>
                <b>@sharedLocalizer["CreatePage.Price"]:</b>
                <p>@Model.Price @Model.Currency</p>
            </div>
            <div>
                <b>@sharedLocalizer["CreatePage.Rating"]:</b>
                <p>@Model.Rating</p>
            </div>
            <div>
                <b>@sharedLocalizer["Item.ExpirationDate"]:</b>
                <p>@Model.ExpirationDate.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">@sharedLocalizer["Message.Delete.Title"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @sharedLocalizer["Message.Delete.Description"]
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="@Url.Action("Delete", "Item", new { id = Model.ItemId })">
                    <button type="submit" class="btn btn-danger">@sharedLocalizer["Button.Yes"]</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@sharedLocalizer["Button.No"]</button>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('/images/BackgroundItem1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }    
</style>