@using ExpirationDate.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject ExpirationDate.Resources.SharedLocalizationService localizer

@{
    ViewData["Title"] = localizer["Home"];
}

<div class="text-center">
    <div class="text-center">
        <b class="home-preview-text">
            @localizer["HomePage.Title"]
        </b>
        <p class="home-preview-text">
            @localizer["HomePage.Paragraph1"]
        </p>
        <p class="home-preview-text">
            <b>@localizer["HomePage.WhatWeOffer"]</b>
        </p>
        <p class="home-preview-text">
            @localizer["HomePage.Paragraph2"]
        </p>
        <p class="home-preview-text">
            @localizer["HomePage.Paragraph2_1"]
        </p>
        <p class="home-preview-text">
            @localizer["HomePage.Paragraph2_2"]
        </p>
        <p class="home-preview-text">
            @localizer["HomePage.Paragraph2_3"]
        </p>
    </div>
</div>
